.custom-header{
    font-size: 0.75rem;
    font-weight: 500;
   line-height:  14.4px
}

.back-icon{
    background-color: #FDF4E2C9;
    width: 1.75rem;
    height: 1.75rem;
    vertical-align: middle;
}


.custom-ticket-icon{
    color: #F4B740;
}

