<div class="container-fluid mb-3 bg-white rounded-3">
    <div class="row">
      <div class="col-lg-8 py-4 position-relative overflow-hidden pe-3">
        <div class="position-absolute border-inorange rounded-1 "></div>
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center mb-3">
            <i
              class="fa fa-ticket secondary-color ticket-icon-small pe-2"
            ></i>
            <p
              class="mb-0 secondary-color fw-medium pe-4 ticket-name"
            >
              اسم التذكرة
            </p>
            <span class="ticket-type">إسترداد منتج </span>
          </div>
          <div class="d-flex">
            <i
              class="fa-solid fa-list-check secondary-color ticket-list pe-2"
            ></i>
            <p
              class="mb-0 secondary-color fw-medium pe-4 ticket-name ps-1"
            >
              الوصف
            </p>
            <p class="mb-0 custom-paragraph ps-2">
              دریگ رارق هدافتسا دروم اساسا یحارط دوجوم یایند لها
              هتسویپ تالاوس یوگباوج و یلصا یاهدرواتسد ینیچفورح لماش
              زاین دروم نامزو دسر نایاپ هب پیات تخسز
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 rounded-2 mx-auto position-relative overflow-hidden py-4 custom-shadow">
        <div class="border-inblue position-absolute rounded-1"></div>
        <i class="fa-solid fa-ellipsis-vertical position-absolute custom-menu"></i>
        <div class="d-flex flex-column complain-person-header ps-2">
          <div class="d-flex">
            <div
              class="custom-div-img me-3 rounded-circle justify-content-center align-items-center d-flex"
            >
              <img
                src="assets/images/person.jpg"
                alt="person image"
                height="100%"
                class="rounded-circle w-100"
              />
            </div>
            <div class="d-flex flex-column">
              <p class="main-color fw-medium customer-name mb-0">
                محمود إبراهيم على
              </p>
              <p class="customer-detail mt-0">
                لوريم ابسم لى تسننم تسيسيك
              </p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div
              class="d-flex align-items-center px-3 py-1 custom-back rounded-2 ms-3"
            >
              <i class="fa-solid fa-briefcase custom-bag-icon"></i>
              <p class="mb-0 custom-purpose fw-medium pe-4 ps-2">
                شراء سيارة
              </p>
              <p class="mb-0 custom-code fw-medium ps-1">122#</p>
            </div>
            <button
      class="btn close custom-edit-icon-btn rounded-1 p-0 ms-4 shadow-sm d-flex justify-content-center align-items-center">
      <i
      class="fa-solid fa-arrow-up-right-from-square fa-flip-horizontal share-icon"
    ></i>
    </button>
          </div>
        </div>
      </div>
    </div>
  </div>
