
  .custom-border{
    border-radius: 0.063rem;
    width: 0.313rem;
    height: 0.625rem;
    background-color: #a9a7e0;
  }
  
  .ticket-datils-side {
    color: #616776;
    font-size: 0.625rem;
  }
  
  .custom-card-icon {
    color: #83899f;
    font-size: 0.625rem;
  }
  
  .admin-side {
    font-size: 0.625rem;
  }
  
  .image-header {
    border: #e0e3e9 solid 0.75px;
    height: 2.125rem;
    width: 100%;
  }
  
  
  ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
    color: #87888b;
    font-size: 0.625rem;
    padding-top: 0.61rem;
    padding-bottom: 0.61rem;
  }
  
  ::ng-deep .p-dropdown .p-dropdown-label {
    font-size: 0.75rem;
    color: #1C1C28;
    
  }

::ng-deep .p-dropdown:not(.p-disabled).p-focus{
  box-shadow: none;
  border: 0.047rem solid #E0E3E9;
  border-radius: 0.25rem, 0.25rem, 0px, 0px;
}


::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item:first-of-type{
  background-color: #F4CABD;
  color:  #EF4C4C;
  margin-bottom: 0.4rem;
  border-radius: 0.2rem;
}

  ::ng-deep .p-dropdown-panel:nth-child(2) .p-dropdown-items .p-dropdown-item{
    background-color: #BDF4C9;
    color:  #238D33;
    margin-bottom: 0.4rem;
  }

  ::ng-deep .p-dropdown-panel:nth-child(3) .p-dropdown-items .p-dropdown-item{
    background-color: #BDF4C9;
    color: #0d00c7;
  }

  ::ng-deep ul{
    box-shadow: 0px 0px 7px 0px #00000026;
    padding: 0.5rem !important;
    margin-bottom: 0 !important;
  }


  ::ng-deep .p-dropdown{
    width: 100%;
    }

  
  .last-p {
    font-size: 0.75rem;
  }
  
  .custom-calendar {
    background-color: #27d08c;
    color: white;
  }

::ng-deep .p-avatar{
  display: flex;
  margin-bottom: 0;
}

::ng-deep .p-avatar-group p-avatar+p-avatar{
  margin-left: -0.5rem;
}


/* hashtags edit */
::ng-deep .p-tag.p-tag-info{
  background-color: #E3EDF8;
  color: #0771DE;
  font-size: 0.625rem;
  font-weight: 400;
  }

::ng-deep .p-tag.p-tag-warning{
background-color: #FFF7E5;
color: #F4B740;
font-size: 0.625rem;
font-weight: 400;
}


::ng-deep .p-tag.p-tag-success{
  background-color: #F3FFE5;
  color: #2EA87C;
  font-size: 0.625rem;
  font-weight: 400;
  }

  ::ng-deep .card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0.25rem;
    width: 100%;
  }