/* You can add global styles to this file, and also import other style files */
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-blue/theme.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Neo Sans Arabic', sans-serif, Inter;
  /* background-color: #454545; */


}


:root {
  --main-color: #1C1C28;
  --secondary-clor: #929395;
}

.main-color{
  color: var(--main-color);
}

.secondary-color{
  color: #929395;
}

/* @media screen and (min-width: 768px) {
  body {
    font-size: 18px !important; 
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 20px !important; 
  }
} */